
.invite-class0
{
  background-color: lightgrey;
}
.invite-class1
{
  background-color: lightcoral;
}
.invite-class2
{
  background-color: lightyellow;
}
.invite-class3
{
  background-color: lightgreen;
}
