#outer
{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 40%;
}
button
{
  margin: 1rem;
}

.custom-badge
{
  border-radius: 50%;
  background: red;
  color: black;
  border: 1px solid black;
  width: 1.6rem;
  height: 1.6rem;
  display: inline-block;
}
